.console {
  width: 287px;
  height: 320px;
  border-radius: 16px;
  background-color: #212528;
  position: relative;
  &__bar {
    background-color: #1e1e1e;
    border-radius: 16px 16px 0 0;
    height: 40px;
  }
  &__body {
    margin: 72px 16px 0 16px;
    display: flex;
  }
  &__dot {
    position: absolute;
    left: 16px;
    top: 16px;
    display: flex;
    &-item {
      margin-right: 8px;
      background-color: #464a4d;
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }
  }
  &__inner {
    display: flex;
  }
  &__list {
    @include mobile-console;
    text-align: left;
    list-style-type: none;
    color: #a3a3a3;
    padding: 0;
    &--left > li {
      color: #808082;
      text-align: right;
      width: 95px;
    }
    &--right {
      margin-left: 8px;
    }
    &-item {
      max-height: 48px;
      overflow: scroll;
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 0;
      }
      &--invisible {
        visibility: hidden;
      }
      &--special {
        color: white;
        font-weight: bold;
      }
      &--link {
        text-decoration: underline;
      }
    }
  }
  &__logo {
    position: absolute;
    top: 64px;
    left: 16px;
  }
  @media (min-width: $breakpoint-mobile) {
    width: 548px;
    height: 300px;
    &__body {
      margin: 46px 32px 0 32px;
    }
    &__list {
      @include console;
      &--left > li {
        width: 120px;
      }
    }
    &__logo {
      top: 58px;
      left: 32px;
    }
  }
}
