.projects {
  padding: 64px 16px 88px;
  filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.25));
  &__flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__grid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 1fr;
  }
  &__heading {
    @include mobile-header-100;
  }
  &__description {
    @include mobile-text;
    margin-bottom: 46px;
  }
  @media (min-width: $breakpoint-mobile) {
    &__flex {
      width: 1184px;
      margin: 0 auto;
    }
    &__grid {
      grid-template-columns: 1fr 1fr;
    }
    &__heading {
      @include header-100;
    }
    &__description {
      @include text;
      width: 782px;
      margin: 0 auto 128px;
    }
  }
}
