@import '_variables';

.skills {
  background-color: $crimson;
  padding: 64px 16px 88px;
  color: white;
  &__block {
    margin: 0 0 64px 0;
    &:last-child {
      margin: 0;
    }
    @media (min-width: $breakpoint-mobile) {
      width: 379px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__heading {
    @include mobile-header-100;
    margin-bottom: 64px;
    color: white;
    @media (min-width: $breakpoint-mobile) {
      @include header-100;
    }
  }
  &__subheading {
    @include header-300;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0 0 24px 0;
    &--arm {
      &::before {
        content: '💪🏻';
        font-size: 64px;
        line-height: 72px;
        margin-bottom: 16px;
      }
    }
    &--hat {
      &::before {
        content: '📖';
        font-size: 64px;
        line-height: 72px;
        margin-bottom: 16px;
      }
    }
    &--thought {
      &::before {
        content: '🤔';
        font-size: 64px;
        line-height: 72px;
        margin-bottom: 16px;
      }
    }
    @media (min-width: $breakpoint-mobile) {
      @include header-300;
    }
  }
  &__list {
    list-style-type: none;
    padding: 0;
    @include list;
    &-item {
      display: block;
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &--checkmark > li {
      &::before {
        content: url(../assets/img/small-tick.svg);
        padding: 0 12px 0 0;
      }
    }
    &--checkmark-white > li {
      &::before {
        content: url(../assets/img/small-tick-white.svg);
        padding: 0 12px 0 0;
      }
    }
    &--dot > li {
      &::before {
        content: '∙';
        padding: 0 12px 0 0;
      }
    }
  }
  @media (min-width: $breakpoint-mobile) {
    &__flex {
      display: flex;
      justify-content: space-around;
      max-width: 1184px;
      margin: 0 auto;
    }
  }
}
