$breakpoint-mobile: 768px;

$desktop: 960px;

$default: #704250;
$dark: #612335;
$blue: #cc0f4b;
$lighterBlue: #eac6d1;
$link: #fe2882;
$picture: #fff8fa;
$console: #808082;
$lightConsole: #a3a3a3;
$linkConsole: #14b5d0;
$gray: #212528;
$darkGray: #1e1e1e;
$mediumGray: #464a4d;

@mixin mobile-header-200 {
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
}
@mixin mobile-header-100 {
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
}
@mixin mobile-text {
  font-weight: 300; //light
  font-size: 16px;
  line-height: 32px;
}
@mixin mobile-bold-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
}
@mixin mobile-console {
  font-size: 13px;
  line-height: 24px;
  font-family: Roboto Mono;
}

@mixin header-100 {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
}
@mixin header-200 {
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
}
@mixin header-300 {
  font-weight: bold;
  font-size: 24px;
  line-height: 44px;
}
@mixin text {
  font-weight: 300; //light
  font-size: 20px;
  line-height: 40px;
}
@mixin bold-text {
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
}
@mixin list {
  font-weight: 600; //semibold
  font-size: 16px;
  line-height: 24px;
}
@mixin console {
  font-size: 16px;
  line-height: 24px;
  font-family: Roboto Mono;
}

@mixin mail {
  border-radius: 48px;
  background-color: $link;
  color: white;
  padding: 9px 24px;
}
