@import '~normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;700&family=Roboto+Mono&display=swap');

@import '_variables';
@import 'modules/hello.scss';

@mixin mobile-header-200 {
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
}
@mixin mobile-header-100 {
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
}
@mixin mobile-text {
  font-weight: 300; //light
  font-size: 16px;
  line-height: 32px;
}
@mixin mobile-bold-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
}
@mixin mobile-console {
  font-size: 13px;
  line-height: 24px;
  font-family: Roboto Mono;
}

$breakpoint-mobile: 425px;

$default: #425a70;
$dark: #234361;
$blue: #1070ca;
$link: #4da8ff;

body {
  font-family: 'Nunito', sans-serif;
  // font-family: 'Roboto Mono', monospace;
  color: $default;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
}
a {
  color: $link;
  text-decoration: none;
}
.main {
  margin: 0;
  padding: 0;
  width: 100vw;
}
.special {
  color: $blue;
}

.header {
  padding: 64px 16px 88px;
  &::before {
    content: url(../assets/img/photo_desktop.png);
  }
  &__about {
    &-description {
      margin-bottom: 48px;
      @include mobile-text();
    }
    &-head {
      color: $dark;
      @include mobile-header-200();
    }
    &-mail {
      border-radius: 67px;
      background-color: $link;
      color: white;
      padding: 10px 24px;
      @include mobile-bold-text();
    }
  }
  &__heading {
    color: white;
    padding: 16px 19px;
    background-color: #1070ca;
    border-radius: 16px;
  }
  @media (max-width: $breakpoint-mobile) {
    &::before {
      content: url(../assets/img/photo_mobile.png);
      padding: 34px 58px 0 58px;
    }
    &__heading {
      display: none;
    }
  }
}

.skills {
  background-color: #1070ca;
  padding: 64px 16px 88px;
  &__heading {
    @include mobile-header-100();
    color: white;
    margin-bottom: 64px;
  }
}
