@import '~normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;700&family=Roboto+Mono&display=swap');

@import '_variables';
@import 'modules/hello.scss';

@mixin mobile-header-200 {
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
}
@mixin mobile-header-100 {
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
}
@mixin mobile-text {
  font-weight: 300; //light
  font-size: 16px;
  line-height: 32px;
}
@mixin mobile-bold-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
}
@mixin mobile-console {
  font-size: 13px;
  line-height: 24px;
  font-family: Roboto Mono;
}

@mixin header-100 {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
}
@mixin header-200 {
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
}
@mixin header-300 {
  font-weight: bold;
  font-size: 24px;
  line-height: 44px;
}
@mixin text {
  font-weight: 300; //light
  font-size: 20px;
  line-height: 40px;
}
@mixin bold-text {
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
}
@mixin list {
  font-weight: 600; //semibold
  font-size: 16px;
  line-height: 24px;
}
@mixin console {
  font-size: 16px;
  line-height: 24px;
  font-family: Roboto Mono;
}

@mixin mail {
  border-radius: 67px;
  background-color: $link;
  color: white;
  padding: 9px 24px;
}

$breakpoint-mobile: 769px;

$default: #425a70;
$dark: #234361;
$blue: #1070ca;
$link: #4da8ff;

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  35% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(5deg);
  }
  65% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

body {
  font-family: 'Nunito', sans-serif;
  // font-family: 'Roboto Mono', monospace;
  color: $default;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
}
a {
  color: $link;
  text-decoration: none;
}
li {
  text-align: left;
}
h1,
h2,
h3 {
  color: $dark;
}
.main {
  margin: 0;
  padding: 0;
  width: 100vw;
}
.special {
  color: $blue;
}

.console {
  width: 287px;
  height: 320px;
  border-radius: 16px;
  background-color: #212528;
  position: relative;
  &__bar {
    background-color: #1e1e1e;
    border-radius: 16px 16px 0 0;
    height: 40px;
  }
  &__body {
    margin: 72px 16px 0 16px;
    display: flex;
  }
  &__dot {
    position: absolute;
    left: 16px;
    top: 16px;
    display: flex;
    &-item {
      margin-right: 8px;
      background-color: #464a4d;
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }
  }
  &__inner {
    display: flex;
  }
  &__list {
    @include mobile-console;
    text-align: left;
    list-style-type: none;
    color: #a3a3a3;
    padding: 0;
    &--left > li {
      color: #808082;
      text-align: right;
      width: 95px;
    }
    &--right {
      margin-left: 8px;
    }
    &-item {
      max-height: 48px;
      overflow: scroll;
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 0;
      }
      &--invisible {
        visibility: hidden;
      }
      &--special {
        color: white;
        font-weight: bold;
      }
      &--link {
        text-decoration: underline;
      }
    }
  }
  &__logo {
    position: absolute;
    top: 64px;
    left: 16px;
  }
  @media (min-width: $breakpoint-mobile) {
    width: 548px;
    height: 300px;
    &__body {
      margin: 46px 32px 0 32px;
    }
    &__list {
      @include console;
      &--left > li {
        width: 120px;
      }
    }
    &__logo {
      top: 58px;
      left: 32px;
    }
  }
}

.header {
  padding: 64px 16px 88px;
  &::before {
    content: url(../assets/img/photo_mobile.png);
    padding: 34px 58px 0 58px;
  }
  &__about {
    &-description {
      margin-bottom: 48px;
      @include mobile-text;
    }
    &-head {
      @include mobile-header-200;
    }
    &-mail {
      @include mail;
      @include mobile-bold-text;
    }
  }
  &__heading {
    display: none;
  }
  @media (min-width: $breakpoint-mobile) {
    &::before {
      content: url(../assets/img/photo_desktop.png);
      padding: 50px 0 72px;
    }
    &__about {
      width: 830px;
      // &::before {
      //   content: url(../assets/img/{.svg);
      //   position: absolute;
      // }
      // &::after {
      //   content: url(../assets/img/}.svg);
      //   position: absolute;
      // }
      &-head {
        @include header-200;
      }
      &-description {
        @include text;
      }
      &-mail {
        @include bold-text;
        padding-top: 11px;
        padding-bottom: 10px;
      }
    }
    &__heading {
      &--wave {
        display: inline-block;
        animation: wave 1.5s ease-in-out infinite;
        transform-origin: bottom 40px;
      }
      &::before {
        content: url(../assets/img/Speech_cloud.svg);
        position: absolute;
        bottom: -30px;
      }
      @include header-200;
      display: unset;
      color: white;
      padding: 16px 19px;
      background-color: #1070ca;
      border-radius: 16px;
      position: absolute;
      top: 34px;
    }
  }
}

.skills {
  background-color: #1070ca;
  padding: 64px 16px 88px;
  color: white;
  &__block {
    margin: 0 0 64px 0;
    &:last-child {
      margin: 0;
    }
  }
  &__heading {
    @include mobile-header-100;
    margin-bottom: 64px;
    color: white;
  }
  &__subheading {
    @include header-300;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0 0 24px 0;
    &--arm {
      &::before {
        content: '💪🏻';
        font-size: 64px;
        line-height: 72px;
        margin-bottom: 16px;
      }
    }
    &--hat {
      &::before {
        content: '🎓';
        font-size: 64px;
        line-height: 72px;
        margin-bottom: 16px;
      }
    }
    &--thought {
      &::before {
        content: '🤔';
        font-size: 64px;
        line-height: 72px;
        margin-bottom: 16px;
      }
    }
  }
  &__list {
    list-style-type: none;
    padding: 0;
    @include list;
    &-item {
      display: block;
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &--checkmark > li {
      &::before {
        content: url(../assets/img/small-tick.svg);
        padding: 0 12px 0 0;
      }
    }
    &--checkmark-white > li {
      &::before {
        content: url(../assets/img/small-tick-white.svg);
        padding: 0 12px 0 0;
      }
    }
    &--dot > li {
      &::before {
        content: '∙';
        padding: 0 12px 0 0;
      }
    }
  }
  @media (min-width: $breakpoint-mobile) {
    &__flex {
      display: flex;
      justify-content: space-around;
      width: 1184px;
      margin: 0 auto;
    }
    &__block {
      width: 379px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__heading {
      @include header-100;
    }
    &__subheading {
      @include header-300;
    }
  }
}

.projects {
  padding: 64px 16px 88px;
  &__flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__grid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 1fr;
  }
  &__heading {
    @include mobile-header-100;
  }
  &__description {
    @include mobile-text;
    margin-bottom: 46px;
  }
  @media (min-width: $breakpoint-mobile) {
    &__flex {
      width: 1184px;
      margin: 0 auto;
    }
    &__grid {
      grid-template-columns: 1fr 1fr;
    }
    &__heading {
      @include header-100;
    }
    &__description {
      @include text;
      width: 782px;
      margin: 0 auto 128px;
    }
  }
}

.contact {
  padding: 64px 16px 88px;
  background-color: #dbeaf7;
  &__heading {
    @include mobile-header-100;
  }
  &__description {
    @include mobile-text;
    margin: 0 0 56px;
  }
  &__socials {
    margin: 0 auto 64px;
    display: flex;
    justify-content: space-between;
    width: 192px;
  }
  &__mail {
    @include mail;
    @include mobile-bold-text;
  }
  &__icon {
    cursor: pointer;
    background-color: white;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (min-width: $breakpoint-mobile) {
    &__description {
      @include text;
      margin: 0 0 128px;
    }
    &__flex {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 585px;
      margin: 0 auto 88px;
    }
    &__heading {
      @include header-100;
    }
    &__mail {
      @include bold-text;
      padding-top: 4px;
      padding-bottom: 4px;
    }
    &__socials {
      margin: 0;
    }
  }
}
